#frame{
    width: 200px;
    aspect-ratio: 1/1;
    border: 10px solid gray;
    border-radius: 100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 9999;
}
#frame>div{
    width: calc(100% - 20px);
    aspect-ratio: 1/1;
    border: 10px solid red;
    border-radius: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

section{
    width: fit-content;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
section>div{
    width: 180px;
    aspect-ratio: 1/1;
    background: orange;
    border-radius: 100%;
    margin-top: 233px;
    margin-bottom: 233px;
    position: relative;
}
section>div:first-child{
    background: purple;
}
section>div:nth-child(2){
    background: blue;
}
section>div:nth-child(2){
    background: red;
}
section>div>span{
    color: wheat;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
}
