::selection{
    background-color: #018A8A;
}
@import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,700";

#project-section{
    position: relative;
    height: 80vh;
    top: 50vh;
}
#project-section>main>h1{
    font-family: "Brush", cursive;
    position: absolute;
    top: 2vh;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 3vw;
    width: fit-content;
}
.project{
    position: relative;
    left: 1vw;
    top: 15vh;
    width: calc(100vw - 100px);
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-project:hover .img-project {
    transform: rotateX(-180deg);
}
.cart-project:hover .card-back {
    transform: rotateX(0deg);
}
.card-back {
    width: 22vw;
    height: 30vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}

.img-project{
    background-position: 50% 50%;
    width: 22vw;
    height: 30vh;
    border-radius: 10px;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.cart-project{
    position: relative;
    width: 22vw;
    height: 14vw;
    border: #018A8A 1px solid;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 10px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.text-project{
    position: absolute;
    left: 0;
    right: 0;
    top: 8vh;
    margin: auto;
    width: fit-content;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
}
.button{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2vh;
    margin: auto;
    width: fit-content;
}
.button button{
    width: 10vw;
    color: white;
    height: 8vh;
    border-radius: 20px;
    --c:  #00a1a7;
    font-size: 1.5vw;
    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
            var(--_g) calc(var(--_p,0%) - 100%) 0%,
            var(--_g) calc(200% - var(--_p,0%)) 0%,
            var(--_g) calc(var(--_p,0%) - 100%) 100%,
            var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
.button button:hover{
    color: black;
    cursor: pointer;
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}
button:active {
    background-color: #00a1a7;
    color: #fff;
}
.cart-project:hover .project_img  img {
    clip-path: circle(0.0% at 50% 50%);
}



@media all and (max-width: 1440px) {
    .cart-project{
        margin-bottom: 0;
    }
}
@media all and (max-width: 1024px) {
    #project-section{
        position: relative;
        top: 80vh;
    }
    #project-section>main>h1{
        font-size: 3.5vw;
    }
    .img-project{
        width: 22vw;
        height: 27vh;
    }
    .cart-project{
        height: 27vh;
    }
    .button{
        bottom: 5vh;
    }
}
@media all and (max-width: 768px) {
    #project-section{
        top: 58vh;
    }
    .img-project{
        width: 27vw;
    }
    .cart-project{
        width: 27vw;
        margin-left: 0;
        margin-right: 0;
    }
    .card-back {
        width: 27vw;
        margin-left: 0;
        margin-right: 0;
        height: 27vh;
    }
    .project{
        margin-left: 5vw;
        top: 13vh;
    }
    .text-project{
        font-size: 2vw;
    }
}
@media all and (max-width: 425px) {
    #project-section{
        top: 100vh;
        margin-left: 0;
    }
    #project-section>main>h1{
        font-size: 5vw;
    }
    .project{
        width: 100vw;
        margin: 0;
        top: 10vh;
    }
    .img-project{
        width: 40vw;
        height: 35vw;
    }
    .cart-project{
        width: 40vw;
        height: 35vw;
        margin-bottom: 5vw;
    }
    .card-back {
        width: 40vw;
        height: 35vw;
        margin-bottom: 5vw;
    }
    .text-project{
        top: 5vh;
        font-size: 3.5vw;
    }
    .button button{
        width: 20vw;
        height: 6vh;
        font-size: 3vw;
    }
    .button{
        bottom: 3vh;
    }
}
@media all and (max-width: 375px) {
    #project-section {
        top: 110vh;
    }

    #project-section > main > h1 {
        font-size: 7vw;
    }
}
@media all and (max-width: 320px) {
    #project-section {
        top: 100vh;
        height: 140vh;
    }
    .img-project{
        width: 60vw;
        height: 35vw;
    }
    .cart-project{
        width: 60vw;
        height: 35vw;
        margin-bottom: 5vw;
    }
    .card-back {
        width: 60vw;
        height: 35vw;
        margin-bottom: 5vw;
    }
    .text-project{
        top: 5vh;
        font-size: 3.5vw;
    }
    .button button{
        width: 20vw;
        height: 6vh;
        font-size: 3vw;
    }
    .button{
        bottom: 1vh;
    }
}



