::selection{
    background-color: #018A8A;
}
.about-main{
    position: relative;
    top: 5vh;
}
.about-main>h1{
    font-family: 'Catamaran';
    font-size: 3vw;
    top: 5vh;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
}
.skills{
    position: relative;
    left: 1vw;
    top: 2vh;
    width: calc(100vw - 2vw);
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 11vw;
    height: 10vw;
    background: #04c2c9;
    position: relative;
}
.rectangle{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.5vh;
    margin: auto;
    width: fit-content;
}
.text{
    position: absolute;
    text-align: center;
    top: 36vh;
    font-size: 1.5vw;
}
.cart{
    position: relative;
    width: 20vw;
    height: 20vw;
}
.hexagon>img{
    transform: rotate(315deg);
    width: 5vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.label{
    position: absolute;
    left: 0;
    right: 0;
    top: 27vh;
    margin: auto;
    width: fit-content;
    font-size: 2vw;
    font-weight: bold;
}
.img{
    animation: img-left 4s;
    animation-fill-mode: initial;
    position: absolute;
    left: 10vw;
    top: 70vh;
}
@keyframes img-left {
    from{
        left: -10vw;
    }
    to{
        left:10vw;
    }
}
.img>img{
    width: 20vw;
}
.skills1{
    margin: 4vh auto 0 auto;
    max-width: 50%;
    width: calc(100% - 2px);
    position: absolute;
    top: 65vh;
    left: 40vw;
}
.bar{
    position: relative;
    background: #D9D9D9;
    height: 2vw;
    margin-top: 2.5vh;
    flex-direction: column;
}
.tag{
    font-size: 1vw;
    left: 0;
    position: absolute;
    top: 0;
    background-color: #04c2c9;
    color: #fff;
    height: 100%;
    width: 8vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bar>span{
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: #666;
    top: 0;
    font-size: 1.2vw;
    display: initial;
    position: absolute;
    right: 0;
    height: 4vh;
    margin: 0 0 3vw 0;
}
@keyframes load {
    to {
        width: var(--width);
    }
}
.bar_fill:before {
    --width: calc(var(--p) * 1%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00a1a7;
    animation: load 4s forwards linear ;
}
.skills1>div:first-child>div{
    --p:70;
}
.skills1>div:nth-child(2)>div{
    --p:90;
}
.skills1>div:nth-child(3)>div{
    --p:80;
}
.skills1>div:nth-child(4)>div{
    --p:70;
}
.skills1>div:nth-child(5)>div{
    --p:50;
}
.skills1>div:nth-child(6)>div{
    --p:90;
}
.skills1>div:nth-child(7)>div{
    --p:70;
}
.skills1>div:nth-child(8)>div{
    --p:60;
}
.div{
    height: 80vh;
    top: 65vh;
    position: relative;
}
#language{
    height: 60vh;
    background-color: #E6F3F4;
    position: relative;
    width: calc(100vw - 1.5vw);
}
#language>h5{
    width: 5.5vw;
    font-family: Inter, SansSerif;
    font-size: 1vw;
    font-weight: 600;
    color: #05BFDB;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    margin: auto;
}
#language>h1{
    width: 19vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    top: 18vh;
    right: 0;
    left: 0;
    margin: auto;
}
#language>img{
    width: 5%;
    position: absolute;
    top: 35vh;
    margin: auto;
}
#language>img:hover{
    width: 6%;
}
#javaLogo{
    right: 0;
    left: 0;
}
#sqlLogo{
    right: 0vw;
    left: 15vw;
}
#jsLogo{
    border-radius: 15%;
    right: 15vw;
    left: 0vw;
}
#cssLogo{
    right: 0vw;
    left: 30vw;
}
#htmlLogo{
    right: 30vw;
    left: 0vw;
}
#figmaLogo{
    right: 0vw;
    left: 45vw;
}
#xdLogo{
    right: 45vw;
    left: 0vw;
}
#arduinoLogo{
    right: 0vw;
    left: 60vw;
}
#hibernateLogo{
    right: 60vw;
    left: 0vw;
}

@media all and (max-width: 1440px) {
    .label{
        font-size: 2.5vw;
    }
}
@media all and (max-width: 1024px) {
    .about-main>h1{
        font-size: 3.5vw;
    }
    .hexagon {
        width: 13vw;
        height: 12vw;
    }
    .text{
        top: 32vh;
        font-size: 2vw;
    }
    .cart{
        width: 22vw;
        height: 22vw;
    }
    .hexagon>img{
        width: 6vw;
    }
    .label{
        top: 24vh;
        font-size: 3vw;
    }
    .img{
        left: 8vw;
        top: 55vh;
    }
    .img>img{
        width: 25vw;
    }
    .skills1{
        top: 55vh;
    }
    .bar{
        height: 3vw;
    }
    .bar_fill{
        height: 3vw;
    }
    .tag{
        font-size: 1.5vw;
        width: 10vw;
    }
    .bar>span{
        font-size: 1.5vw;
    }
    .div{
        height: 50vh;
        top: 65vh;
    }
    #language>h5{
        font-size: 1.5vw;
        width: 8vw;
    }
    #language>h1{
        width: 25vw;
        font-size: 4vw;
    }
}
@media all and (max-width: 768px) {
    .about-main>h1{
        font-size: 5vw;
    }
    .hexagon {
        width: 15vw;
        height: 14vw;
    }
    .text{
        top: 28vh;
        font-size: 2.8vw;
    }
    .cart{
        width: 24vw;
        height: 40vw;
    }
    .hexagon>img{
        width: 6vw;
    }
    .label{
        top: 20vh;
        font-size: 4vw;
    }
    .img{
        left: 6vw;
        top: 60vh;
    }
    .img>img{
        width: 30vw;
    }
    .bar>span{
        font-size: 2vw;
    }
    .div{
        height: 35vh;
        top: 55vh;
    }
    #language{
        height: 35vh;
    }
    #language>h5{
        top: 8vh;
        font-size: 1.5vw;
        width: 8vw;
    }
    #language>h1{
        top: 10vh;
        width: 25vw;
        font-size: 4vw;
    }
    #language>img{
        top: 20vh;
    }
}
@media all and (max-width: 425px) {
    .about-main>h1{
        font-size: 6vw;
    }
    .cart{
        width: 40vw;
        height: 48vw;
        margin-bottom: 10vw;
    }
    .hexagon {
        width: 30vw;
        height: 28vw;
    }
    .text{
        font-size: 3vw;
    }
    .hexagon>img{
        width: 10vw;
    }
    .label{
        top: 24vh;
        font-size: 4.5vw;
    }
    .img{
        left: 30%;
        top: 90vh;
    }
    @keyframes img-left {
        from{
            left: -10vw;
        }
        to{
            left:30%;
        }
    }
    .img>img{
        width: 40vw;
    }
    .skills1{
        max-width: 90%;
        top: 120vh;
        left: 3vw;
    }
    .bar{
        height: 4vw;
    }
    .tag{
        font-size: 2.5vw;
        width: 15vw;
    }
    .bar>span{
        font-size: 2.5vw;
    }
    .div{
        top: 110vh;
    }
    #language{
        height: 25vh;
    }
    #language>h5{
        top: 5vh;
        font-size: 4vw;
        right: 20%;
    }
    #language>h1{
        top: 8vh;
        font-size: 5vw;
    }
    #language>img{
        width: 6%;
        top: 18vh;
    }
}
@media all and (max-width: 375px) {
    .about-main>h1{
        font-size: 7vw;
    }
    .text{
        top: 26vh;
        font-size: 4vw;
    }
    .hexagon>img{
        width: 12vw;
    }
    .label{
        top: 22vh;
    }
    .img{
        top: 85vh;
    }
    .img>img{
        width: 50vw;
    }
    .bar{
        height: 6vw;
    }
    .tag{
        font-size: 3vw;
        width: 18vw;
    }
    .bar>span{
        font-size: 4vw;
    }
    .div{
        top: 120vh;
    }
}
@media all and (max-width: 320px) {
    .text{
        top: 24vh;
    }
    .hexagon>img{
        width: 14vw;
    }
    .label{
        top: 20vh;
    }
    .img{
        top: 75vh;
    }
    .img>img{
        width: 55vw;
    }
    .skills1{
        top: 110vh;
    }
    .div{
        top: 110vh;
    }
}








