::selection{
    background-color: #018A8A;
}
#contact-section{
    background-color: black;
    background-repeat: no-repeat;
    position: relative;
    top: 90vh;
    height: 100vh;
}
.form{
    width:340px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
    top: 15vh;
}
.form>h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}
.form>p>input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
.form>p>input:focus{
    border-bottom:2px solid #78788c
}
.form>p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}
.form>button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    border-radius: 10px;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}
.form>button:hover{
    background:#78788c;
    color:#fff
}
.arrow{
    position: absolute;
    right: 1vw;
    bottom: 1vw;
}
@media all and (max-width: 1440px) {
    #contact-section{
        top: 65vh;
        height: 100vh;
    }
}
@media all and (max-width: 1024px) {
    #contact-section{
        top: 70vh;
    }
}
@media all and (max-width: 768px) {
    #contact-section{
        top: 55vh;
    }
    .form{
        top: 10vh;
    }
}
@media all and (max-width: 425px) {
    #contact-section{
        top: 120vh;
        height: 90vh;
    }
}
@media all and (max-width: 375px) {
    #contact-section{
        top: 120vh;
    }
    .form{
        width:240px;
        height:420px;
        top: 8vh;
    }
}
@media all and (max-width: 320px) {
    #contact-section{
        top: 105vh;
    }
}