footer{
    top: 65vh;
    position: relative;
    height: 26vh;
    /*background-color: #00a1a7;*/
    background-color: #212121;
}
footer>u{
    color: white;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    font-size: 1.5vw;
}
footer>p:nth-child(2){
    color: white;
    position: absolute;
    left: 1vw;
    top: 10vh;
    font-size: 1.5vw;
}
footer>p:nth-child(3){
    position: absolute;
    color: white;
    left: 1vw;
    top: 14vh;
    font-size: 1.5vw;
}
footer>h5:nth-child(4){
    color: white;
    position: absolute;
    margin-top: 0;
    right: 1.5vw;
    top: 12vh;
    font-size: 1.5vw;
}
footer>div{
    position: absolute;
    right: 1vw;
    top:16vh;
}
footer>div>a>em>img{
    width: 2.5vw;
}
@media all and (max-width: 1440px) {

}
@media all and (max-width: 1024px) {
    footer{
        top: 70vh;
    }
}
@media all and (max-width: 768px) {
    footer{
        top: 55vh;
    }
    footer>u{
        font-size: 2vw;
    }
    footer>p:nth-child(2){
        font-size: 2vw;
    }
    footer>p:nth-child(3){
        font-size: 2vw;
    }
    footer>h5:nth-child(4){
        right: 2vw;
        font-size: 2vw;
    }
    footer>div>a>em>img{
        width: 3vw;
    }
}
@media all and (max-width: 425px) {
    footer{
        top: 105vh;
        height: 21vh;
    }
    footer>u{
        font-size: 3vw;
    }
    footer>p:nth-child(2){
        font-size: 3vw;
    }
    footer>p:nth-child(3){
        font-size: 3vw;
    }
    footer>h5:nth-child(4){
        font-size: 3vw;
    }
    footer>div>a>em>img{
        width: 5vw;
    }
}
@media all and (max-width: 375px) {
    footer{
        top: 120vh;
        height: 20vh;
    }
    footer>u{
        font-size: 3.5vw;
    }
    footer>p:nth-child(2){
        font-size: 3.5vw;
    }
    footer>p:nth-child(3){
        font-size: 3.5vw;
    }
}@media all and (max-width: 320px) {
    footer {
        top: 90vh;
    }
}