::selection{
    background-color: #018A8A;
}
main{
    position: relative;
    top: 50px;
}
main>h1{
    font-size: 40px;
    top: 75px;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
}
header>nav>a{
    position: absolute;
    right: 20px;
    top: 10px;
    font-family:Brush Script MT, Brush Script Std, cursive;
}
.nav{
    position: relative;
}
.nav:hover{
    cursor: pointer;
}
.nav>span{
    font-weight: bold;
    color:  #021426;
    position: absolute;
    left: 100px;
    /*top: 50px;*/
    font-size: 30px;
    margin: 0;
    width: fit-content;
    height: fit-content;
}
.skills{
    position: relative;
    left: 50px;
    top: 50px;
    width: calc(100vw - 100px);
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 140px;
    height: 120px;
    background: #04c2c9;
    position: relative;
}
.rectangle{
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    width: fit-content;
}
.text{
    position: absolute;
    top: 180px;
    font-size: 25px;
}
.cart{
    position: relative;
    width: 300px;
    height: 300px;
}
.hexagon>img{
    transform: rotate(315deg);
    width: 60px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.label{
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    margin: auto;
    width: fit-content;
    font-size: 30px;
    font-weight: bold;
}
.img{
    position: absolute;
    left: 150px;
    top: 450px;
}
.skills1{
    margin: 50px auto 0 auto;
    max-width: 50%;
    width: calc(100% - 15px);
    position: absolute;
    top: 400px;
    left: 500px;
}
.bar{
    position: relative;
    background: #D9D9D9;
    height: 28px;
    margin-top: 15px;
    flex-direction: column;
}
.bar_fill{
    width: 90%;
    left: 0;
    position: absolute;
    top: 0;
    background-color: #00a1a7;
    opacity: 1;
    padding: 0;
    font-size: 11pt;
    height: 28px;
    margin: 0 0 15px 0;
    display: block;
}
.tag{
    left: 0;
    position: absolute;
    top: 0;
    background-color: #04c2c9;
    color: #fff;
    height: 100%;
    width: 110px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bar>span{
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: #666;
    font-size: 20px;
    display: initial;
    position: absolute;
    right: 0;
    height: 28px;
    margin: 0 0 15px 0;
}
.skills1>div:first-child>div{
    width: 70%;
}
.skills1>div:nth-child(2)>div{
    width: 90%;
}
.skills1>div:nth-child(3)>div{
    width: 80%;
}
.skills1>div:nth-child(4)>div{
    width: 80%;
}
.skills1>div:nth-child(5)>div{
    width: 50%;
}
.skills1>div:nth-child(6)>div{
    width: 90%;
}
.skills1>div:nth-child(7)>div{
    width: 70%;
}
.skills1>div:nth-child(8)>div{
    width: 60%;
}
.div{
    height: 500px;
    top: 500px;
    position: relative;
}
.education{
    background: #f5f5f5;
    position: absolute;
    top: 0;
    width: calc(100vw - 17px);
}
.education>u{
    position: absolute;
    left: 500px;
}
.education>div{
    position: absolute;
    width: calc(100vw - 120px);
    height: 600px;
    left: 50px;
}
.education>div>h4{
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    font-size: 20px;
    top: 50px;
    left: 20px;
}
.education>div>p{
    position: relative;
    top: 50px;
    margin: 0;
    left: 40px;
    font-size: 20px;
}
footer{
    top: 550px;
    position: relative;
    height: 150px;
    background-color: #00a1a7;
}
footer>u{
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    font-size: 20px;
}
footer>p:nth-child(2){
    position: absolute;
    left: 100px;
    top: 75px;
    font-size: 20px;
}
footer>p:nth-child(3){
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 20px;
}
footer>h5:nth-child(4){
    position: absolute;
    margin-top: 0;
    right: 150px;
    top: 75px;
    font-size: 20px;
}
footer>div{
    position: absolute;
    right: 120px;
    top: 110px;
}

@media all and (max-width: 1440px) {
    main{
        top: 100px;
    }
    header>nav>a{
        right: 50px;
        top: 50px;
    }
    .nav>span{
        font-size: 35px;
    }
    .img{
        left: 100px;
        top: 400px;
    }
    .img img{
        width: 300px;
    }
    .skills1{
        left: 550px;
    }
    .div{
        top: 550px;
    }
    footer{
        height: 170px;
    }
    footer>p:nth-child(2){
        left: 60px;
    }
    footer>p:nth-child(3){
        left: 60px;
    }
    footer>h5:nth-child(4){
        right: 90px;
    }
    footer>div{
        right: 60px;
    }
}
@media all and (max-width: 1024px) {
    main>h1{
        font-size: 35px;
    }
    header>nav>a{
        right: 50px;
        top: 20px;
    }
    .text{
        position: absolute;
        top: 180px;
        font-size: 20px;
    }
    .cart{
        width: 200px;
    }

    .label{
        top: 140px;
        font-size: 25px;
    }
    .img{
        position: absolute;
        left: 50px;
        top: 350px;
    }
    .skills1{
        top: 350px;
        left: 400px;
    }
    .education>u{
        left: 400px;
    }
    footer{
        top: 600px;
        height: 160px;
    }

    footer>p:nth-child(2){
        left: 50px;
    }
    footer>p:nth-child(3){
        left: 50px;
    }
    footer>h5:nth-child(4){
        right: 100px;
    }
    footer>div{
        right: 70px;
    }
}
@media all and (max-width: 768px) {
    header>nav>a{
        right: 50px;
        top: 20px;
    }
    .hexagon {
        width: 120px;
        height: 100px;
    }
    .img{
        left: 50px;
        top: 700px;
    }
    .cart{
         width: 300px;
     }

    .skills1{
        top: 650px;
        left: 350px;
    }
    .div{
        top: 800px;
    }
    .education>u{
        left:40%;
    }
    footer{
        top: 900px;
    }
    footer>u{
        font-size: 15px;
    }
    footer>p:nth-child(2){
        left: 50px;
        font-size: 20px;
    }
    footer>p:nth-child(3){
        left: 50px;
        top: 100px;
    }
    footer>h5:nth-child(4){
        right: 50px;
        font-size: 15px;
    }
    footer>div{
        right: 30px;
        top: 100px;
    }
    footer>div img{
        width: 25px;
    }
}
@media all and (max-width: 425px) {
    nav>a>img {
        position: relative;
        width: 20px;
        top: 10px;
    }
    .nav>span {
        left: 70px;
        font-size: 20px;
    }
    main{
        top: 40px;
    }
    main>h1{
        font-size: 25px;
    }
    .skills{
        position: relative;
        left: 50px;
        top: 20px;
    }
    .hexagon {
        width: 120px;
        height: 100px;
    }
    .text{
        position: absolute;
        top: 160px;
        font-size: 20px;
    }
    .cart{
        position: relative;
        width: 200px;
        height: 300px;
    }
    .label{
        top: 120px;
        font-size: 25px;
    }
    .img{
        position: absolute;
        left: 50px;
        top: 1150px;
    }
    .skills1{
        max-width: 80%;
        top: 1450px;
        left: 50px;
    }
    .tag{
        width: 80px;
    }
    .education{
        display: none;
    }
    footer{
        top: 1050px;
        height: 110px;
    }
    footer>u{
        font-size: 12px;
    }
    footer>p:nth-child(2){
        left: 10px;
        top: 50px;
        font-size: 15px;
    }
    footer>p:nth-child(3){
        left: 10px;
        top: 65px;
        font-size: 15px;
    }
    footer>h5:nth-child(4){
        right: 30px;
        top: 60px;
        font-size: 13px;
    }
    footer>div{
        right: 20px;
        top: 80px;
    }
    footer>div img{
        width: 20px;
    }
}
@media all and (max-width: 375px) {
    .skills1{
        left: 30px;
    }
    .img{
        left: 50px;
    }
    .skills1{
        top: 1450px;
        left: 40px;
    }
}
@media all and (max-width: 320px) {
    header>nav>a{
        right: 20px;
    }
    header>nav>a{
        top: 10px;
    }
    .nav>span{
        left: 50px;
        font-size: 20px;
    }
    .img{
        position: absolute;
        left: 0px;
        top: 1210px;
    }
    .skills{
        top: 50px;
    }
    .skills1{
        top: 1500px;
        left: 20px;
    }
    footer{
        top: 1100px;
        height: 110px;
    }
    footer>u{
        font-size: 10px;
    }
    footer>p:nth-child(2){
        font-size: 12px;
    }
    footer>p:nth-child(3){
        font-size: 12px;
    }
    footer>h5:nth-child(4){
        font-size: 10px;
    }
    footer>div img{
        width: 17px;
    }
}