::selection{
    background-color: #018A8A;
}
#gallery-section{
    position: relative;
    top: 65vh;
    height: 245vh;
}
#gallery-section>h1{
    position: relative;
    font-family: "Brush", cursive;
    font-size: 3vw;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
}
#gallery-section>section{
    position: absolute;
    top: 15vh;
}
.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}
.gallery:hover .gallery__image {
    filter: grayscale(1);
}
.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;

}
.gallery_link{
    margin-right: 2vw;
    margin-bottom: 2vw;
}
.gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-radius: 20px;
    border: black 1px solid;
}
.gallery__image:hover {
    transform: scale(1.1);
}
@media all and (max-width: 1440px){
    #gallery-section{
        height: 105vw;
    }
}
@media all and (max-width: 1024px){
    #gallery-section{
        top: 90vh;
        height: 120vw;
    }
    #gallery-section>h1{
        font-size: 4vw;
    }
}
@media all and (max-width: 768px){
    #gallery-section{
        top: 70vh;
        /*height: 170vh;*/
    }
    #gallery-section>h1{
        font-size: 4.5vw;
    }
}
@media all and (max-width: 700px) {
    #gallery-section{
        top: 70vh;
        /*height: 130vh;*/
    }
}
@media all and (max-width: 550px) {
    #gallery-section{
        top: 85vh;
        height: 150vw;
    }
}

@media all and (max-width: 425px){
    #gallery-section{
        top: 120vh;
        height: 120vw;
    }
    #gallery-section>h1{
        font-size: 5vw;
    }
    #gallery-section>section{
        top: 10vh;
    }
    .gallery__image {
        border-radius: 10px;
    }
}
@media all and (max-width: 375px){
    #gallery-section{
        top: 130vh;
        /*height: 90vh;*/
    }
    #gallery-section>h1{
        font-size: 5vw;
    }
}
@media all and (max-width: 320px){
    #gallery-section{
        top: 105vh;
        /*height: 80vh;*/
    }
    #gallery-section>h1{
        font-size: 6vw;
    }
}