::selection{
    background-color: #018A8A;
}
body{
    overflow: hidden;
}
nav{
    position: relative;
    width: 100%;
    height: 800px;
}
nav>a>span{
    /*color: white;*/
    font-weight: bold;
    color:  #021426;
    position: absolute;
    left: 150px;
    top: 50px;
    font-size: 30px;
    margin: 0;
    width: fit-content;
    height: fit-content;
    font-family:Brush Script MT, Brush Script Std, cursive;
}

.nav:hover{
    cursor: pointer;
}

.about>a{
    position: absolute;
    left: 200px;
    top: 50px;
    margin: 0;
}
.about>a>span{
    color: black;
    font-size: 20px;
    left: 250px;
    top: 50px;
    position: absolute;
}

.project>a{
    position: absolute;
    left: 200px;
    top: 200px;
    margin: 0;
}

.project>a>span{
    color: black;
    font-size: 20px;
    left: 250px;
    top: 50px;
    position: absolute;
}

.assignment>a{
    position: absolute;
    left: 200px;
    top: 350px;
    margin: 0;
}

.assignment>a>span{
    color: black;
    font-size: 20px;
    left: 250px;
    top: 50px;
    position: absolute;
}

.gallery>a{
    position: absolute;
    left: 650px;
    top: 50px;
    margin: 0;
}

.gallery>a>span{
    color: black;
    font-size: 20px;
    left: 250px;
    top: 50px;
    position: absolute;
}

.contact>a{
    position: absolute;
    left: 650px;
    top: 200px;
    margin: 0;
}

.contact>a>span{
    color: black;
    font-size: 20px;
    left: 250px;
    top: 50px;
    position: absolute;
}
section{
    height: calc(100vh - 100px);
    width: 100vw;
    background: #D9D9D9;
    top: 130px;
    position: absolute;
}

@media all and (max-width: 425px) {
    nav>a>span {
        left: 20px;
        top: 30px;
        font-size: 25px;
    }
    img{
        width: 150px;
        height: 100px;
    }

    section{
        top: 80px;
        height: 100vh;
    }

    .about>a{
        left: 30px;
        top: 50px;
    }

    .about>a>span{
        font-size: 15px;
        left: 40px;
        top: 110px;
    }
    .project>a{
        left: 220px;
        top: 50px;
    }

    .project>a>span{
        font-size: 15px;
        left: 40px;
        top: 110px;
    }
    .assignment>a{
        left: 40px;
        top: 220px;
    }

    .assignment>a>span{
        font-size: 15px;
        left: 20px;
        top: 110px;;
    }

    .gallery>a{
        left: 220px;
        top: 220px;
    }

    .gallery>a>span{
        font-size: 15px;
        left: 40px;
        top: 110px;;
    }

    .contact>a{
        left: 40px;
        top: 390px;
    }

    .contact>a>span{
        font-size: 15px;
        left: 170px;
        top: 40px;
    }
}