::selection{
    background-color: #018A8A;
}
#assignment-section{
    background-color: #edfbfc;
    position: relative;
    top: 60vh;
    height: 180vh;
    width: 100vw;
}
#assignment-section>h1{
    width: 20vw;
    font-family: "Brush", cursive;
    font-size: 4vw;
    font-weight: 900;
    color: #0A0A0A;
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    margin: auto;
}
#assignment{
    position: relative;
    left: 1vw;
    top: 17vh;
    width: calc(100vw - 100px);
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,200');
.transition {
    transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.card-assignment {
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
    width: 22vw;
    height: 14vw;
    margin-bottom: 3vw;
    border: #018A8A 1px solid;
    border-radius: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
}
.card-assignment:hover {
    width: 22vw;
    height: 24vw;
}
.cta-container {
    display: none;
    margin-top: 24vw;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.card-assignment:hover .cta-container {
    display: inline;
    margin-top: 20vw;
}
.cta {
    border: 2px solid #3487f7;
    border-radius: 2px;
    color: #3487f7;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    height: 2.5vw;
    line-height: 2.5vw;
    margin-bottom: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 0 1vw;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.cta:hover {
    background-color: #3487f7;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card_circle {
    background: url('../../assets/image/assignment.jpg') no-repeat center bottom;
    background-size: cover;
    border-radius: 50%;
    height: 30vw;
    margin-left: -5vw;
    margin-top: -20vw;
    position: absolute;
    width: 34vw;
}
.card-assignment:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -9vw;
    height: 22vw;
}
.card-assignment:hover h2 {
    background: #3487f7;
    color: #fff;
    margin-top: 7vw;
    padding: 5px;
}
.card-assignment:hover h2 small {
    color: #fff
}
.card-assignment:hover p {
    margin-top: 15vw
}

.card-assignment>h2 {
    color: #3487f7;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    font-weight: 200;
    margin-top: 11vw;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.card-assignment>p {
    text-align: center;
    color: rgba(0,0,0,.6);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
    font-weight: normal;
    margin-top: 15vw;
    position: absolute;
    z-index: 9999;
}
@media all and (max-width: 1440px){

}
@media all and (max-width: 1024px){
    #assignment-section{
        top: 85vh;
        height: 140vh;
    }
}
@media all and (max-width: 768px){
    #assignment-section{
        top: 60vh;
        height: 140vh;
    }
    #assignment-section>h1{
        font-size: 5vw;
    }
    #assignment{
        left: 5vw;
    }
    .card-assignment {
        width: 26vw;
        height: 17vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .card-assignment:hover {
        width: 26vw;
        height: 34vw;
    }
    .card-assignment:hover .cta-container {
        margin-top: 27vw;
    }
    .cta {
        font-size: 2vw;
    }
    .card-assignment:hover .card_circle {
        height: 25vw;
    }
    .card-assignment:hover h2 {
        margin-top: 8vw;
    }
    .card-assignment:hover p {
        margin-top: 18vw
    }
    .card-assignment>h2 {
        font-size: 2.5vw;
        margin-top: 13vw;
    }
    .card-assignment>p {
        font-size: 2vw;
        margin-top: 20vw;
    }
}

@media all and (max-width: 550px){
    #assignment-section{
        top: 75vh;
        height: 120vh;
    }
    #assignment-section>h1{
        font-size: 6vw;
        width: 40vw;
    }
    #assignment{
        left: 5vw;
    }
    .card-assignment {
        width: 34vw;
        height: 17vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .card-assignment:hover {
        width: 34vw;
        height: 38vw;
    }
    .card_circle {
        margin-top: -18vw;
        width: 44vw;
    }
    .card-assignment:hover .cta-container {
        margin-top: 32vw;
    }
    .cta {
        font-size: 2.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    .card-assignment:hover .card_circle {
        height: 30vw;
    }
    .card-assignment:hover h2 {
        margin-top: 12vw;
    }
    .card-assignment:hover p {
        margin-top: 22vw
    }
    .card-assignment>h2 {
        font-size: 3vw;
    }
    .card-assignment>p {
        font-size: 2.7vw;
    }
}
@media all and (max-width: 425px){
    #assignment-section{
        top: 120vh;
        height: 110vh;
    }
    #assignment-section>h1{
        font-size: 7vw;
        width: 40vw;
    }
    #assignment{
        margin: 0;
        left: 8vw;
    }
    .card-assignment {
        width: 37vw;
        height: 20vw;
        margin-left: 0;
        margin-right: 0;
    }
    .card-assignment:hover {
        width: 37vw;
        height: 42vw;
    }
    .card_circle {
        width: 46vw;
    }
    .card-assignment:hover .cta-container {
        margin-top: 34vw;
    }
    .cta {
        font-size: 3vw;
    }
    .card-assignment:hover .card_circle {
        height: 30vw;
    }
    .card-assignment:hover p {
        margin-top: 22vw
    }
    .card-assignment>p {
        font-size: 3vw;
    }
}
@media all and (max-width: 375px){
    #assignment-section{
        height: 230vh;
    }
    #assignment-section>h1{
        font-size: 8vw;
        width: 44vw;
    }
    .card-assignment {
        width: 45vw;
        height: 30vw;
    }
    .card-assignment:hover {
        width: 45vw;
        height: 50vw;
    }
    .card_circle {
        width: 55vw;
        height: 40vw;
    }
    .card-assignment:hover .cta-container {
        margin-top: 40vw;
    }
    .cta {
        font-size: 4vw;
    }
    .card-assignment:hover .card_circle {
        height: 35vw;
    }
    .card-assignment:hover h2 {
        margin-top: 15vw;
    }
    .card-assignment:hover p {
        margin-top: 28vw
    }
    .card-assignment>h2 {
        font-size: 4vw;
        margin-top: 23vw;
    }
    .card-assignment>p {
        font-size: 3vw;
        margin-top: 30vw;
    }
}
@media all and (max-width: 320px){
    #assignment-section{
        height: 200vh;
        top: 100vh;
    }
    .card-assignment>p {
        font-size: 3.5vw;
    }
}

/*#assignment-section>div{*/
/*    width: 10vw;*/
/*    height: 20vh;*/
/*    background-color: white;*/
/*    box-shadow: #D0D0D0 0px 2px 7px;*/
/*    border-radius: 2vh;*/
/*    position: absolute;*/
/*    margin: auto;*/
/*}*/
/*#assignment-section>div>h4{*/
/*    width: 7vw;*/
/*    font-family: 'Catamaran';*/
/*    font-size: 1vw;*/
/*    font-weight: 300;*/
/*    color: #0A0A0A;*/
/*    position: absolute;*/
/*    top: 5vh;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: auto;*/
/*}*/
/*#box1{*/
/*    top: 30vh;*/
/*    left: 19vw;*/
/*}*/
/*#box2{*/
/*    top: 30vh;*/
/*    left: 30vw;*/
/*}*/
/*#box3{*/
/*    top: 30vh;*/
/*    left: 41vw;*/
/*}*/
/*#box4{*/
/*    top: 30vh;*/
/*    left: 52vw;*/
/*}*/
/*#box5{*/
/*    top: 30vh;*/
/*    left: 63vw;*/
/*}*/
/*#box6{*/
/*    top: 30vh;*/
/*    left: 74vw;*/
/*}*/
/*#box7{*/
/*    top: 60vh;*/
/*    left: 19vw;*/
/*}*/
/*#box8{*/
/*    top: 60vh;*/
/*    left: 30vw;*/
/*}*/
/*#box9{*/
/*    top: 60vh;*/
/*    left: 41vw;*/
/*}*/
/*#box10{*/
/*    top: 60vh;*/
/*    left: 52vw;*/
/*}*/
/*#box11{*/
/*    top: 60vh;*/
/*    left: 63vw;*/
/*}*/
/*#box12{*/
/*    top: 60vh;*/
/*    left: 74vw;*/
/*}*/
/*#assignment-section>div>h6{*/
/*    width: 1.7vw;*/
/*    font-faily: Inter, SansSerif;*/
/*    font-size: 0.8vw;*/
/*    font-weight: 600;*/
/*    position: absolute;*/
/*    bottom: 5vh;*/
/*    right: 0;*/
/*    left: 0;*/
/*    margin: auto;*/
/*    background-color: #05BFDB;*/
/*    border-radius: 8px;*/
/*    padding: 1vh;*/
/*    box-shadow: #05BFDB 0px 4px 12px;*/
/*}*/
/*#assignment-section>div>h6>a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/
/*@media all and (max-width: 1440px){*/

/*}*/
/*@media all and (max-width: 1024px){*/
/*    #assignment-section{*/
/*        top: 85vh;*/
/*        height: 70vh;*/
/*    }*/
/*    #box1{*/
/*        top: 20vh;*/
/*    }*/
/*    #box2{*/
/*        top: 20vh;*/
/*    }*/
/*    #box3{*/
/*        top: 20vh;*/
/*    }*/
/*    #box4{*/
/*        top: 20vh;*/
/*    }*/
/*    #box5{*/
/*        top: 20vh;*/
/*    }*/
/*    #box6{*/
/*        top: 20vh;*/
/*    }*/
/*    #box7{*/
/*        top: 45vh;*/
/*    }*/
/*    #box8{*/
/*        top: 45vh;*/
/*    }*/
/*    #box9{*/
/*        top: 45vh;*/
/*    }*/
/*    #box10{*/
/*        top: 45vh;*/
/*    }*/
/*    #box11{*/
/*        top: 45vh;*/
/*    }*/
/*    #box12{*/
/*        top: 45vh;*/
/*    }*/
/*}*/

/*@media all and (max-width: 768px) {*/
/*    #assignment-section {*/
/*        top: 65vh;*/
/*        height: 70vh;*/
/*    }*/
/*    #assignment-section>div{*/
/*        width: 13vw;*/
/*    }*/
/*    #box1{*/
/*        left: 5vw;*/
/*    }*/
/*    #box2{*/
/*        left: 20vw;*/
/*    }*/
/*    #box3{*/
/*        left: 35vw;*/
/*    }*/
/*    #box4{*/
/*        left: 50vw;*/
/*    }*/
/*    #box5{*/
/*        left: 65vw;*/
/*    }*/
/*    #box6{*/
/*        left: 80vw;*/
/*    }*/
/*    #box7{*/
/*        left: 5vw;*/
/*    }*/
/*    #box8{*/
/*        left: 20vw;*/
/*    }*/
/*    #box9{*/
/*        left: 35vw;*/
/*    }*/
/*    #box10{*/
/*        left: 50vw;*/
/*    }*/
/*    #box11{*/
/*        left: 65vw;*/
/*    }*/
/*    #box12{*/
/*        left: 80vw;*/
/*    }*/
/*    #assignment-section>div>h4{*/
/*        width: 10vw;*/
/*        font-size: 1.5vw;*/
/*    }*/
/*    #assignment-section>div>h6{*/
/*        width: 2vw;*/
/*        font-size: 1vw;*/
/*        border-radius: 5px;*/
/*    }*/
/*}*/
/*@media all and (max-width: 550px) {*/
/*    #assignment-section{*/
/*        top: 80vh;*/
/*        height: 100vh;*/
/*    }*/
/*    #assignment-section>div{*/
/*        width: 20vw;*/
/*    }*/
/*    #assignment-section>h1 {*/
/*        width: 27vw;*/
/*        font-size: 5vw;*/
/*    }*/
/*    #box1{*/
/*        left: 5vw;*/
/*    }*/
/*    #box2{*/
/*        left: 28vw;*/
/*    }*/
/*    #box3{*/
/*        left: 51vw;*/
/*    }*/
/*    #box4{*/
/*        left: 74vw;*/
/*    }*/
/*    #box5{*/
/*        left: 5vw;*/
/*        top: 45vh;*/
/*    }*/
/*    #box6{*/
/*        left: 28vw;*/
/*        top: 45vh;*/
/*    }*/
/*    #box7{*/
/*        left: 51vw;*/
/*    }*/
/*    #box8{*/
/*        left: 74vw;*/
/*    }*/
/*    #box9{*/
/*        left: 5vw;*/
/*        top: 70vh;*/
/*    }*/
/*    #box10{*/
/*        left: 28vw;*/
/*        top: 70vh;*/
/*    }*/
/*    #box11{*/
/*        left: 51vw;*/
/*        top: 70vh;*/
/*    }*/
/*    #box12{*/
/*        left: 74vw;*/
/*        top: 70vh;*/
/*    }*/
/*    #assignment-section>div>h4{*/
/*        width: 15vw;*/
/*        font-size: 2.2vw;*/
/*    }*/
/*    #assignment-section>div>h6{*/
/*        width: 4vw;*/
/*        font-size: 2vw;*/
/*    }*/
/*}*/
/*@media all and (max-width: 425px) {*/
/*    #assignment-section {*/
/*        top: 115vh;*/
/*        height: 120vh;*/
/*    }*/
/*    #assignment-section>h1 {*/
/*        width: 27vw;*/
/*        font-size: 7vw;*/
/*    }*/
/*    #assignment-section>div{*/
/*        width: 25vw;*/
/*    }*/
/*    #assignment-section>div>h4{*/
/*        width: 16vw;*/
/*        font-size: 2.5vw;*/
/*    }*/
/*    #box1{*/
/*        top: 20vh;*/
/*        left: 5vw;*/
/*    }*/
/*    #box2{*/
/*        top: 20vh;*/
/*        left: 34vw;*/
/*    }*/
/*    #box3{*/
/*        top: 20vh;*/
/*        left: 63vw;*/
/*    }*/
/*    #box4{*/
/*        top: 45vh;*/
/*        left: 5vw;*/
/*    }*/
/*    #box5{*/
/*        top: 45vh;*/
/*        left: 34vw;*/
/*    }*/
/*    #box6{*/
/*        top: 45vh;*/
/*        left: 63vw;*/
/*    }*/
/*    #box7{*/
/*        top: 70vh;*/
/*        left: 5vw;*/
/*    }*/
/*    #box8{*/
/*        top: 70vh;*/
/*        left: 34vw;*/
/*    }*/
/*    #box9{*/
/*        top: 70vh;*/
/*        left: 63vw;*/
/*    }*/
/*    #box10{*/
/*        top: 95vh;*/
/*        left: 5vw;*/
/*    }*/
/*    #box11{*/
/*        top: 95vh;*/
/*        left: 34vw;*/
/*    }*/
/*    #box12{*/
/*        top: 95vh;*/
/*        left: 63vw;*/
/*    }*/
/*    #assignment-section>div>h6{*/
/*        width: 5vw;*/
/*        font-size: 2vw;*/
/*    }*/
/*}*/
/*@media all and (max-width: 375px) {*/
/*    #assignment-section {*/
/*        top: 125vh;*/
/*    }*/
/*    #assignment-section>h1 {*/
/*        font-size: 8vw;*/
/*        width: 40vw;*/
/*    }*/
/*    #assignment-section>div>h4{*/
/*        width: 19vw;*/
/*        font-size: 3vw;*/
/*    }*/
/*}*/
/*@media all and (max-width: 320px) {*/
/*    #assignment-section {*/
/*        top: 100vh;*/
/*    }*/
/*}*/