body{
    background-image: url("../image/dd.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Times New Roman";
}
.container{
    position: absolute;
    /*background: black;*/
    height: 100%;
    left: 200px;
    right: 0;
    margin: auto;
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 50px;
    color: white;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.mb-3{
    position: relative;
    margin: 20px 0;
}
.form-control-input {
    position: relative;
    background: transparent;
    box-shadow: rgba(0,0,0,0.4);
    color: white;
    display: block;
    width: 70%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color:white;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    bottom: 0;
    padding: 0;
}
.form-control-input:focus {
    outline: none;
}
.form-control-input:focus + .form-label,
.form-control-input.not-empty + .form-label {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
}
.form-label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: white;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

table{
    position: relative;
    top: 5vw;
    margin: 0;
}

#data{
    position: relative;
    /*top: 80px;*/
    box-shadow: -1px 1px 60px 10px black;
    /*background: rgba(22, 36, 96,0.4);*/
    border-radius: 20px;
}
#data1{
    position: relative;
    /*top: 80px;*/
    box-shadow: -1px 1px 60px 10px black;
    /*background: rgba(22, 36, 96,0.4);*/
    border-radius: 20px;
}
#data2{
    position: relative;
    /*top: 80px;*/
    box-shadow: -1px 1px 60px 10px black;
    /*background: rgba(22, 36, 96,0.4);*/
    border-radius: 20px;
}

.row{
    margin-top: 0;
}

.topic{
    color: white;
    text-align: center;
}

.btn{
    align-content: center;
    font-size: 30px;
}


#total-text{
    color: white;
    font-size: 20px;
}
#total{
    color: white;
    font-size: 40px;
}
.unit{
    color: white;
    font-size: 20px;
}
:root {
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    display: block;
}

a {
    color: #3f84fc;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0458eb;
    text-decoration: underline;
}


.dashboard-nav {
    /*min-width: 100px;*/
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: #373193;
}

.dashboard-compact .dashboard-nav {
    display: none;
}

.dashboard-nav header {
    /*min-height: 84px;*/
    padding: 70px 27px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dashboard-nav header .menu-toggle {
    display: none;
    margin-right: auto;
}

.dashboard-nav a {
    color: #515151;
}

.dashboard-nav a:hover {
    text-decoration: none;
}

.dashboard-nav {
    background-color: #443ea2;
}

.dashboard-nav a {
    color: #fff;
}

.brand-logo {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #515151;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dashboard-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard-nav-item {
    min-height: 56px;
    padding: 10px 20px 8px 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.02em;
    transition: ease-out 0.5s;
}

.dashboard-nav-item i {
    width: 36px;
    font-size: 19px;
    margin-left: -40px;
}
.dashboard-nav-item:last-child{
    position: relative;
    top: 125px;
}
.dashboard-nav-item:hover {
    background: rgba(255, 255, 255, 0.04);
}

.active {
    background: rgba(0, 0, 0, 0.1);
}

.nav-item-divider {
    position: relative;
    top: 100px;
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}